{
    "extends": ["airbnb", "prettier"],
    "plugins": ["prettier"],
    "parserOptions": {
        "ecmaVersion": 6
    },
    "rules": {

        "no-unused-vars": "off",
        "no-undef": "off",
        "semi": "error",
        "func-names": "off",
        "no-param-reassign": "off"

    }
}